List : collection of elements are called List it enclosed with [] braces. 
       every element in the list object is represented with unique index.
       List objects are mutable.
       it allows multiple duplicate characters

# List indexing : Fetching the specific character by using the index number.

In [1]:
list1 = [1,2,3,4.4,"kumar",True]
list1[0]                                     #List indexing,index[0]position

1

In [3]:
list1[3]                                    # indexing 3rd position

4.4

In [4]:
list1[5]                                     # indexing 5th position

True

'''List slicing : Using the slicing operation we access the range of objects of List.
   Slicing operator colon (:) is used.'''

In [15]:
list1

[1, 2, 3, 4.4, 'kumar', True]

In [16]:
print(list1[0:2])                             # List slicing,slicing of 0 to 2

[1, 2]

In [17]:
print(list1[-1:-4:-1])

[True, 'kumar', 4.4]

In [18]:
print(list1[-1:-4:1])

[]

'''List concatenation : we can concatenate two or more lists into single.
   "+" operator is used for concatenation'''

In [21]:
list1                                                       # taking first list

[1, 2, 3, 4.4, 'kumar', True]

In [22]:
list2 = [9,8,6.2,"Ravindra",False]                         # taking second list

In [24]:
list2

[9, 8, 6.2, 'Ravindra', False]

In [30]:
print(list1+list2)                                        # concatenating first and second lists

[1, 2, 3, 4.4, 'kumar', True, 9, 8, 6.2, 'Ravindra', False]

List multiplication : python supports mupltiplying the given string into number of times

In [31]:
list1

[1, 2, 3, 4.4, 'kumar', True]

In [32]:
list1*2

[1, 2, 3, 4.4, 'kumar', True, 1, 2, 3, 4.4, 'kumar', True]

In [34]:
list1.append('rvr')                   # to add  an item at the end of the list

In [35]:
list1

[1, 2, 3, 4.4, 'kumar', True, 'rvr']

In [36]:
list1.insert(3,4)                     # inserting item at specified position

In [37]:
list1

[1, 2, 3, 4, 4.4, 'kumar', True, 'rvr']

In [38]:
list1.extend(list2)                   # adding all items from list2 to list1

In [39]:
list1

[1, 2, 3, 4, 4.4, 'kumar', True, 'rvr', 9, 8, 6.2, 'Ravindra', False]

In [40]:
list1

[1, 2, 3, 4, 4.4, 'kumar', True, 'rvr', 9, 8, 6.2, 'Ravindra', False]

In [41]:
list1.remove(2)                      # to remove specified item from the list

In [42]:
list1

[1, 3, 4, 4.4, 'kumar', True, 'rvr', 9, 8, 6.2, 'Ravindra', False]

In [43]:
list1.pop()                        # it removes last element of the list

False

In [44]:
list1

[1, 3, 4, 4.4, 'kumar', True, 'rvr', 9, 8, 6.2, 'Ravindra']

In [45]:
list1.reverse()                    # reverse the order of the list

In [46]:
list1

['Ravindra', 6.2, 8, 9, 'rvr', True, 'kumar', 4.4, 4, 3, 1]

In [48]:
list3 =[9,7,8,6,4,3,5,2,1]

In [49]:
list3

[9, 7, 8, 6, 4, 3, 5, 2, 1]

In [50]:
list3.sort()                       # sort the elements of the list

In [51]:
list3

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
len(list1)                         #  count the number of elements in the given list

11

In [55]:
len(list2)

5

In [56]:
len(list3)

9

In [57]:
list4 = [1,2,3,3,3,4,4,5,5,7,7,7,7,7,9,9,9,99,9,99,0,0,0,0,0,]

In [58]:
list4

[1, 2, 3, 3, 3, 4, 4, 5, 5, 7, 7, 7, 7, 7, 9, 9, 9, 99, 9, 99, 0, 0, 0, 0, 0]

In [59]:
list4.count(7)                              # count num of occurences of a specific character

5

In [60]:
list4.count(0)

5

In [61]:
list4.count(99)

2